<body class="fondo" background="https://i.pinimg.com/originals/8f/cf/73/8fcf73562cb282cabdc0f1008533e187.jpg">

    <div class="login-box">
        <img src="https://i.ibb.co/2SRVhWm/avengers.png"
            class="avatar" alt="Avatar Image">
        <h1>Login de Superhéroe</h1>
        <form [formGroup]="formularioLogin" (ngSubmit)="onSubmit()">
            <label class="form-label">Correo electrónico:</label>
            <input type="text" class="form-control" formControlName="email" placeholder="Ingrese su correo electrónico">

            <label class="form-label">Contraseña:</label>
            <input type="password" class="form-control" formControlName="password"
                placeholder="Ingrese una su contraseña">

            <input type="submit" value="Iniciar Sesión">

            <div class="row">
                <p>No tienes cuenta? <a href="/register">Regístrate Ahora</a></p>
            </div>
        </form>
    </div>