<div class="card">
    <div class="card">
        <h1>To-do List</h1>
        <div class="input-group">
            <span class="input-group-text">Nombre de la tarea:</span>
            <input type="text" aria-label="tarea" class="form-control">
            <button class="btn btn-success" type="button" id="button-addon2">Button</button>
        </div>
        <br>
        <div class="input-group mb-3">
            <div class="input-group-text">
                <input class="form-check-input mt-0" type="checkbox" value="" alt="">
            </div>
            <div></div>
            <input type="text" class="form-control" aria-label="Text input with checkbox" value=""> 
            <button class="btn btn-danger" type="button" id="button-addon2">Eliminar</button>
        </div>
    </div>

</div>