<div class="titulo">
    <h3>Listado de Superhéroes Creados</h3>
</div>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Película</th>
            <th scope="col">Comic</th>
            <th scope="col">Descripción</th>
        </tr>
    </thead>
    <h5 *ngIf="arraySuperheroes.length == 0">No hay superhéroes existentes</h5>
    <tbody class="table-group-divider">
        <tr class="centrado" *ngFor="let item of arraySuperheroes ; let i = index">
            <th scope="row">{{item.nombre}}</th>
            <td>{{item.pelicula}}</td>
            <td>{{item.comic}}</td>
            <td>{{item.descripcion}}</td>
        </tr>
    </tbody>
</table>